<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title%></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="about">
        <%- include("./partial/nav.ejs")%>

       <div class="about-blog">
         <h1> About Jonuel Blog</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas labore odio repellendus est tempore! Eos est velit quasi numquam quam laborum quas tenetur voluptates, culpa, magni repellat. Dolorem commodi velit necessitatibus, sed in quos modi quia, atque expedita praesentium nihil, libero ea distinctio cumque fuga repellendus provident impedit voluptas. Et, saepe dignissimos odio voluptate deserunt voluptas magnam quis id iste quam similique sit quasi autem excepturi vel officiis explicabo natus odit cum iure! Voluptates accusamus nemo, est iusto atque harum accusantium suscipit maiores voluptas perferendis enim inventore delectus, velit voluptate, reiciendis provident! Voluptas, nisi, quod vero voluptatibus laboriosam suscipit magnam, quidem ut quis dolores consequatur tenetur aliquid obcaecati cupiditate officiis commodi cumque minima! Animi minus laudantium corporis fugit similique ea labore alias, velit reiciendis sunt corrupti vel molestiae rerum provident, maiores excepturi cumque at aperiam magni ratione sint expedita impedit. Consectetur, officiis repudiandae eius vel delectus perferendis. Minima ullam, cum accusantium maxime, facilis dolores in cumque molestiae aliquid, corporis laudantium itaque quod culpa. Deserunt tempora aliquid rem? Perferendis nostrum dolor cum cupiditate qui quaerat alias. Temporibus sequi a, officia consequuntur perferendis fugiat quod perspiciatis eum optio blanditiis, sit dolor sed vero, excepturi facere. Quo, ex possimus odit molestias voluptatum quae hic praesentium.</p>
       </div>

        <%- include("./partial/footer.ejs")%>
    </div>
</body>
</html>